alembic
aniso8601
blinker
click
Flask
Flask-Migrate
Flask-RESTful
Flask-SQLAlchemy
greenlet
itsdangerous
Jinja2
Mako
MarkupSafe
pytz
six
SQLAlchemy
SQLAlchemy-serializer
typing_extensions
Werkzeug
gunicorn